body {
    background: rgb(161, 161, 161);
}

a {
    text-decoration: none;
    padding: 5px;
}


/*Links não visitados*/

a:link {
    color: rgb(126, 55, 55);
}


/*Links visitados*/

a:visited {
    color: rgb(60, 60, 144);
}


/*Mouse sobreposto*/

a:hover {
    font-size: 25px;
    color: rgb(67, 124, 67);
}


/*Enquanto clicado*/

a:active {
    color: gray;
}