body {
    background: rgb(161, 161, 161);
}

p {
    color: rgb(46, 46, 112);
    font-size: 30px;
}

p {
    color: rgb(28, 85, 28);
}

h2 {
    color: red;
}

h2.verde {
    color: green;
}

h2#azul {
    color: blue;
}